<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.pinguincloud.alfred.openai</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>122E6F85-D345-4DC2-AFE7-599B0BBA8D4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AABE9CF6-D062-433C-8A25-16213074136C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Press Command+Enter to open the content</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DAE8B38A-3E6E-4AD1-A9CB-CB2850874047</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Press Shift+Enter to copy the response to clipboard and also insert it into currently active window.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6F51ADDC-8512-4098-A2BB-6BF990B3BABC</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Press Alt/Option+Enter to copy the response to clipboard.</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2220E304-361B-41BA-9966-8CF0562F3304</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2769C01D-F7E8-4D59-8B1D-300F586048F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C2C7341-0914-4B6C-93C9-4C3AE77C1CA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C2C7341-0914-4B6C-93C9-4C3AE77C1CA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3F125A0-20D2-41AA-A617-16EDCFB637ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B2E8ECE-9747-4E1B-982C-320EF4655058</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C719428D-7111-40C2-9656-E15A6F821033</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C9C2AE5-2A60-4F8C-A819-11D2FDC2BEFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2769C01D-F7E8-4D59-8B1D-300F586048F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>965E31E6-0E09-49F0-9FC3-52F11F5A1452</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Skip cache and force sending new request to OpenAI</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6F51ADDC-8512-4098-A2BB-6BF990B3BABC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F280053-3DE6-4F53-88A3-A65A50C5A8D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>965E31E6-0E09-49F0-9FC3-52F11F5A1452</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C2C7341-0914-4B6C-93C9-4C3AE77C1CA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AABE9CF6-D062-433C-8A25-16213074136C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0872C69-1928-479B-B53A-45677D313F43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>88C8CD3A-B612-4FA9-BF09-C540CD048F97</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBCACB6F-524E-4C77-8AB1-F2829A175CB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD4E5481-31C5-4D13-9D74-DAB077437011</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C9C2AE5-2A60-4F8C-A819-11D2FDC2BEFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3F125A0-20D2-41AA-A617-16EDCFB637ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>122E6F85-D345-4DC2-AFE7-599B0BBA8D4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C719428D-7111-40C2-9656-E15A6F821033</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD4E5481-31C5-4D13-9D74-DAB077437011</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAE8B38A-3E6E-4AD1-A9CB-CB2850874047</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F735BFD7-2499-4FD0-A66B-79C28F911705</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tien Duc Le</string>
	<key>description</key>
	<string>Workflow for accessing OpenAI in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OpenAI</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>restart</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5B2E8ECE-9747-4E1B-982C-320EF4655058</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(^[A-Za-z_\^s]+\s)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>AD4E5481-31C5-4D13-9D74-DAB077437011</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C719428D-7111-40C2-9656-E15A6F821033</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B0872C69-1928-479B-B53A-45677D313F43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^http</string>
						<key>outputlabel</key>
						<string>startsWith http</string>
						<key>uid</key>
						<string>88C8CD3A-B612-4FA9-BF09-C540CD048F97</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AABE9CF6-D062-433C-8A25-16213074136C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "$1" | open -f</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBCACB6F-524E-4C77-8AB1-F2829A175CB4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DAE8B38A-3E6E-4AD1-A9CB-CB2850874047</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Inserted response and copied to clipboard</string>
				<key>title</key>
				<string>OpenAI</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F735BFD7-2499-4FD0-A66B-79C28F911705</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>10</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Sending request to OpenAI..</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>openai_handler.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>OpenAI Handler</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>122E6F85-D345-4DC2-AFE7-599B0BBA8D4E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>skip_cache</key>
					<string>False</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2769C01D-F7E8-4D59-8B1D-300F586048F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gpt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>main_handler.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>OpenAI</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5C9C2AE5-2A60-4F8C-A819-11D2FDC2BEFD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3C2C7341-0914-4B6C-93C9-4C3AE77C1CA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B3F125A0-20D2-41AA-A617-16EDCFB637ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>skip_cache</key>
					<string>True</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>965E31E6-0E09-49F0-9FC3-52F11F5A1452</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Response copied to clipboard</string>
				<key>title</key>
				<string>OpenAI</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2F280053-3DE6-4F53-88A3-A65A50C5A8D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6F51ADDC-8512-4098-A2BB-6BF990B3BABC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>restart</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>2220E304-361B-41BA-9966-8CF0562F3304</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred OpenAI Workflow
This is just a small personal project that I started to get in touch with Python. It does by no means contain all OpenAI features.

#### Requirements:
```shell
brew install python3
```

#### Configuration:
Login to https://platform.openai.com/login to create an API Key and paste it into the "api_token" variable.

#### Usage:
```
gpt {query}
```</string>
	<key>uidata</key>
	<dict>
		<key>122E6F85-D345-4DC2-AFE7-599B0BBA8D4E</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>2220E304-361B-41BA-9966-8CF0562F3304</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>2769C01D-F7E8-4D59-8B1D-300F586048F6</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>2F280053-3DE6-4F53-88A3-A65A50C5A8D5</key>
		<dict>
			<key>xpos</key>
			<real>1085</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>3C2C7341-0914-4B6C-93C9-4C3AE77C1CA7</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>5B2E8ECE-9747-4E1B-982C-320EF4655058</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>5C9C2AE5-2A60-4F8C-A819-11D2FDC2BEFD</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>6F51ADDC-8512-4098-A2BB-6BF990B3BABC</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>965E31E6-0E09-49F0-9FC3-52F11F5A1452</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>AABE9CF6-D062-433C-8A25-16213074136C</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>AD4E5481-31C5-4D13-9D74-DAB077437011</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>B0872C69-1928-479B-B53A-45677D313F43</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>B3F125A0-20D2-41AA-A617-16EDCFB637ED</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>BBCACB6F-524E-4C77-8AB1-F2829A175CB4</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>C719428D-7111-40C2-9656-E15A6F821033</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>DAE8B38A-3E6E-4AD1-A9CB-CB2850874047</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>F735BFD7-2499-4FD0-A66B-79C28F911705</key>
		<dict>
			<key>xpos</key>
			<real>1085</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Will be used as "Authorization: Bearer &lt;api_token&gt;" HTTP header to authenticate with OpenAI.</string>
			<key>label</key>
			<string>OpenAI API Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_token</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>text-davinci-003</string>
				<key>pairs</key>
				<array>
					<array>
						<string>GPT3</string>
						<string>text-davinci-003</string>
					</array>
					<array>
						<string>Curie</string>
						<string>text-curie-001</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Model for Text Completion requests</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>model_text_completion</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gpt-3.5-turbo</string>
				<key>pairs</key>
				<array>
					<array>
						<string>gpt-3.5-turbo</string>
						<string>gpt-3.5-turbo</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Model for Chat Completion requests</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>model_chat_completion</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1000</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Limit maximum tokens for the requests</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>max_tokens</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Limit maximum number of completions</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>max_completions</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/tienducle/alfred-openai-workflow</string>
</dict>
</plist>
